

.btn{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $btn-border;
    @include borderRadius(10px, 0, 10px, 0);
}

.btn-dark{
    @extend .btn;
    background-color: $btn-dark;
    color:#fff;
    border-color: $btn-dark;
}

.btn-warning{
    @extend .btn;
    background-color: $btn-warning;
    color:#fff;
    border-color: $btn-warning;
}