footer{
    background-color: purple;
    padding: 15px 0;
    
    @media(min-width:992px){
        padding: 30px 0;
    }
    
    
    nav{
        @media(min-width:992px){
            display: flex;
            justify-content: space-between;
            align-items: center
        }
        
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 20px;
            @media(min-width:992px){
                display: flex;
                margin-bottom: 0;
            }
            a{
                display: block;
                color:#fff;
                line-height: 2rem;
                text-align: center;
                @media(min-width:992px){
                    padding: 0 5px;
                }
            }
        }
        .copyright{
            text-align: center;
            color:#fff;
        }
    }
}