*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 10px; /*1rem*/
}

body{
    font-size: 1.6rem;
    color:$body-color;
    background-color: $body-bg;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}