$header-bg: $purple;
$header-color: $white;
$menu-link-hover-bg: $white;
$menu-link-hover-color: $purple;

header{

    padding: 30px 0;
    background-color: $header-bg;

    .branding{
        a{
            display: block;
            text-align: center;
            margin-bottom: 2rem;
            color:$header-color;
        }
    }// branding end

    .main-menu{
        list-style: none;
        padding: 0;


        a{
            color: $header-color;
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 5px 10px;
            text-transform: uppercase;
            font-size: 2rem;
            transition: 0.5s linear;
            
            &:hover, &.active{
                color:$menu-link-hover-color;
                background: $menu-link-hover-bg;
            }
            
        }
        
    }

}

@media(min-width:992px){
    
    header{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
