.home-section{
    
    @include styleSection($section-bg, 100px 0)
    background-image: url('./../img/home.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    h2{
        margin-bottom: 20px;
    }
}