
// COLORS
$purple: #5608a8;
$white: #fff;
$orange: #f5a00c;
$gray-light:#ccc;
$gray: #888;
$dark-gray: #444;
$black: #000;




$header-bg:$orange;
$footer-bg: $purple;
$body-color:$black;
$body-bg:$gray-light;
$section-bg: $white;

$header-menu-hover-color:$purple;

$btn-border: $black;
$btn-dark:$black;
$btn-warning:$orange;


$rounded: false;

