
// COLORS
$purple: #5608a8;
$white: #fff;
$orange: #f5a00c;
$gray-light:#ccc;
$gray: #888;
$dark-gray: #444;
$black: #000;
$yellow: yellow;




$header-bg:$orange;
$footer-bg: $purple;
$body-color:$black;
$body-bg:$gray-light;
$section-bg: $white;

$header-menu-hover-color:$purple;


$color-palete:(
    'dark':$black,
    'warning':$orange,
    'info':$yellow,
    'fancy':$purple
);


$display-palete:(
block,inline,flex,inline-block,none
);


$rounded: false;

