



$white: #fff;
$black: #000;
$light-gray: #eee;
$dark-gray: #444;
$purple: #5e0585;
$red: #f50505;
$orange: orange;
$yellow: yellow;
$blue: #056df5;


$enable-rounded: false;


//FONTOVI

$lato: 'Lato', sans-serif;
$chango : 'Chango', cursive;


