
// COLORS
$purple: #5608a8;
$white: #fff;
$orange: #f5a00c;
$gray-light:#ccc;
$gray: #888;
$dark-gray: #444;
$black: #000;
$yellow: yellow;




$header-bg:$orange;
$footer-bg: $purple;
$body-color:$black;
$body-bg:$gray-light;
$section-bg: $white;
$table-border:$black;

$header-menu-hover-color:$purple;
$input-border-color:$dark-gray;

$color-palete:(
    'dark':$black,
    'warning':$orange,
    'info':$yellow,
    'fancy':$purple,
    'white':$white
);


$display-palete:(
block,inline,flex,inline-block,none
);


$rounded: true;

